* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
  }
  
  aside {
    background-color: #2398E1;
    color: white;
    width: 280px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    /* height: 100vh; */
  }
  
  .logo {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .logo img {
    width: 220px;
  }
  
  nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px;
    border-radius: 8px;
    font-size: 24px;
  }

  .logout {
    text-align: left;
  }

  .main-container{
    flex-grow: 1;
    margin-left: 280px; /* sesuai lebar aside */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    /* padding: 20px; */
  }
  
  main {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f4f6f9;
    padding-bottom: 30px; /* agar tidak nempel di bawah */
  }
  
  header {
    background-color: #2398E1;
    color: white;
    padding: 10px 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-info .name {
    font-weight: 600;
    font-size: 23px;
    margin: 0;
  }
  
  .user-info .role {
    font-size: 18px;
    opacity: 0.9;
    margin: 0;
  }
  
  .judul{
    font-size: 30px;
    color: #155B87;
    position: sticky;
    top: 80px; /* mengatur agar muncul di bawah header */
    background-color: #f4f6f9;
    z-index: 9;
    padding: 10px 20px;
  }

  .container {
    width: 100%;
    padding: 30px;
    max-width: 1600px;
    /* margin: 30px auto 0 auto; */
    margin-left: 20px;
    margin-top: 40px;
    background: white;
    border-radius: 12px;
    /* tambahan */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .laporan-table {
    width: 100%;
    border-collapse: collapse;

    margin-top: 20px;
  }
  
  .laporan-table th {
    background-color: #155B87;
    color: #ffffff;
    padding: 15px;
    text-align: left;
    font-size: 24px;
  }
  
  .laporan-table td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    color: #155B87;
    font-weight: 500;
  }
  
  .laporan-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .btn {
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
    font-size: 20px;
  }
  
  .btn.update {
    background-color: #4DA9E8;
  }
  
  .btn.delete {
    background-color: #F16969;
  }
  .btn.unavailable {
    background-color: #504a4a;
  }
  .status {
    padding: 6px 12px;
    border-radius: 12px;
    font-weight: bold;
    display: inline-block;
  }
  .status.sudah {
    background-color: #1BC47D;
    color: white;
  }
  
  .status.belum {
    background-color: #F5A623;
    color: white;
  }
  
  .search-container {
    position: relative;
    width: 500px; /* atau sesuaikan lebar */
    margin-top: 20px;
  }
  
  .search-container input {
    width: 100%;
    padding: 15px 50px 15px 60px; /* padding kiri lebih besar agar tidak nabrak icon */
    border-radius: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9fc;
    font-size: 18px;
    outline: none;
    
  }
  
  .search-container img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    opacity: 0.6;
    margin-left: 10px;
  }

  .dropdown-menu {
  list-style: none;
  padding-left: 40px;
  display: none;
  flex-direction: column;
}

.dropdown-menu li a {
  color: white;
  font-size: 24px;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
    background-color: rgba(18, 50, 71, 0.3); /* warna biru dengan alpha 0.3 */
    border-radius: 6px;
    text-decoration: none;
}

.dropdown-toggle.active + .dropdown-menu {
  display: flex;
}
  
.logout {
  padding: 20px;
}

.logout a {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  color: white !important;
  text-decoration: none !important;
  font-weight: 500;
  padding: 8px;
  border-radius: 8px;
  font-size: 24px;
}
.logout a:link,
.logout a:visited,
.logout a:hover,
.logout a:active {
  color: white;
  text-decoration: none;
}
.logout img {
  width: 20px;
}